<div class='card mt-5 center-card border-0'>
  <!-- Main container for the login form -->
  <div class='card-body col-md-6'>
    <!-- Form for user login -->
    <form class='form login-form'>
      <!-- Form group for username input -->
      <div class='form-group'>
        <label for='username-register'>Username</label>
        <!-- Input field for the username -->
        <input class='form-control' id='username-register' />
      </div>
      <!-- Form group for password input -->
      <div class='form-group'>
        <label for='password-login'>Password</label>
        <!-- Password input field with associated label -->
        <input type='password' class='form-control' id='password-login' />
      </div>
      <!-- Login button -->
      <button type='click' class='btn btn-primary login-btn'>Login</button>
    </form>
    <!-- Link to the registration page for new users -->
    <a href='/register'>Sign Up Instead</a>
  </div>
</div>

<!-- Link to the JavaScript file for login functionality -->
<script src='/js/login.js'></script>