<div class='card mt-5 center-card border-0'>
  <!-- Container for the registration form -->
  <div class='card-body col-md-6'>
    <!-- Registration form -->
    <form>
      <!-- Form group for username input -->
      <div class='form-group'>
        <label for='username-register'>Username</label>
        <!-- Input field for the username -->
        <input class='form-control' id='username-register' />
      </div>
      <!-- Form group for password input -->
      <div class='form-group'>
        <label for='password-register'>Password</label>
        <!-- Input field for the password -->
        <input type='password' class='form-control' id='password-register' />
      </div>
      <!-- Submit button for the registration form -->
      <button type='click' class='btn btn-primary register-btn'>Sign Up</button>
    </form>
    <!-- Link to the login page -->
    <a href='/login'>Login Instead</a>
  </div>
</div>

<!-- Link to the JavaScript file for handling registration -->
<script src='/js/register.js'></script>